@import url("https://fonts.googleapis.com/css2?family=Danfo&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Aeonik", sans-serif;
}

:root {
  --yellow: #ffd904;
  --black: #000;
}

/* FONT VARIATIONS */
/* AEONIK */
@font-face {
  font-family: "Aeonik";
  src: url("../src/assets/fonts/Aeonik-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Aeonik";
  src: url("../src/assets/fonts/Aeonik-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 140px;
  padding: 60px 80px 80px 80px;
  background-color: var(--yellow);
  /* height: 100vh; */
}

nav img {
  width: 80px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 45px;
  justify-content: center;
  padding-bottom: 20px;
}

.scroll {
  font-size: 20px;
  color: #0000008a;
  cursor: pointer;
  animation: bounce 1s linear infinite;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}

h1 {
  font-family: "Danfo", sans-serif;
  color: var(--black);
  text-align: center;
  text-shadow: 0px 12px 0px #fff;
  font-size: 100px;
  font-style: normal;
  font-weight: 400;
  line-height: 96px;
  text-transform: uppercase;
  max-width: 700px;
}

main p {
  color: var(--black);
  text-align: center;
  font-family: "Aeonik", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  max-width: 700px;
}

a {
  text-decoration: none;
}

.buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#primary {
  background-color: transparent;
  border: 1px solid var(--black);
  color: var(--black);
}

.btn {
  display: flex;
  padding: 20px 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 50px;
  background: var(--black);
  color: var(--yellow);
  font-family: "Aeonik", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/* TABLE COMPONENt */

.table-wrapper {
  width: 100%;
  padding: 40px 20px;
  background-color: #fff;
}

.table-heading {
  font-family: "Aeonik", sans-serif;
  color: var(--black);
  font-size: 30px;
  text-align: center;
  margin: 30px 0;
}

.responsive-table {
  overflow-x: auto;
  width: 100%;
}

.howmuchebe-table {
  width: 100%;
  min-width: 700px;
  border-collapse: collapse;
  font-family: "Aeonik", sans-serif;
  background-color: #fff;
  color: var(--black);
  border: 2px solid var(--yellow);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  overflow: hidden;
}

.howmuchebe-table thead {
  background-color: #fffce2;
  color: var(--black);
  font-weight: bold;
  text-transform: uppercase;
}

.howmuchebe-table th,
.howmuchebe-table td {
  padding: 16px 20px;
  text-align: left;
  border-bottom: 1px solid #f0f0f0;
  font-size: 16px;
}

.howmuchebe-table tbody tr:hover {
  background-color: #fffce26f;
  transition: 0.3s;
}

/* SPINNER */
.spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #000000cc;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.spinner svg {
  width: 80px;
  height: 80px;
  fill: var(--yellow);
  animation: spin 1s linear infinite;
}

.spinner svg path {
  color: rgba(22, 22, 22, 0.379);
  stroke-width: 2;
}

.sr-only {
  color: #f0f0f0;
  font-family: "Aeonik", sans-serif;
  font-size: 20px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* ALERTS */
.alert-message {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  min-width: 200px;
  max-width: 90%;
  padding: 12px 20px;
  border-radius: 6px;
  font-size: 18px;
  font-weight: 500;
  color: #111;
  z-index: 1000;
  animation: slideInOut 3s forwards;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

@keyframes slideInOut {
  0% {
    transform: translateX(-50%) translateY(-20px);
  }
  10% {
    transform: translateX(-50%) translateY(0);
  }
  90% {
    transform: translateX(-50%) translateY(0);
  }
  100% {
    transform: translateX(-50%) translateY(-100px);
  }
}

/* SUCCESS ✅ */
.successMessage {
  background-color: #27ae60;
  color: #d1f7d6;
}

/* ERROR */

.error {
  background-color: #e74c3c;
  color: #ffd6d6;
}

.not-found {
  padding-top: 60px;
  background-color: var(--yellow);
  display: flex;
  justify-content: center;
}

.img-404 {
  width: 46rem;
  /* position: fixed; */
  /* left: 10px; */
  bottom: 10px;
  overflow: hidden;
}

/* SUBMIT FORM */
.form {
  background-color: var(--yellow);
}
.submit-form {
  padding: 2rem;
  max-width: 400px;
  margin: 0 auto;
  border-radius: 10px;
}

.form-input {
  width: 100%;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid black;
  padding: 12px;
  margin-bottom: 20px;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.form-input:focus {
  background-color: #f0cc05;
  outline: none;
}

.form-input::placeholder {
  color: #0000008a;
}

.submit-btn {
  background-color: black;
  color: white;
  padding: 12px 24px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.success-msg {
  margin-top: 10px;
  color: green;
}

.error-msg {
  margin-top: 10px;
  color: red;
}

/* SEARCH BAR */

.search-bar {
  text-align: center;
  margin-top: 1.5rem;
}

.search-input {
  padding: 0.6rem 1rem;
  width: 50%;
  max-width: 500px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 1rem;
}

/* FOOTER */

footer {
  margin: 60px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
footer a {
  color: var(--black);
}

footer a:hover {
  color: var(--yellow);
}

/* RESPONSIVENESS */

@media (max-width: 768px) {
  header {
    padding: 50px 40px;
  }

  h1 {
    font-size: 80px;
    line-height: 88px;
    max-width: 95%;
    text-shadow: 0px 8px 0px #fff;
  }

  main p {
    font-size: 20px;
    max-width: 95%;
  }

  .btn {
    padding: 18px 36px;
    font-size: 22px;
    padding: 18px 36px;
  }

  .table-heading {
    font-size: 36px;
    margin-bottom: 20px;
  }

  .howmuchebe-table th,
  .howmuchebe-table td {
    padding: 12px 16px;
    font-size: 15px;
  }
}

@media (max-width: 480px) {
  header {
    gap: 70px;
  }

  h1 {
    font-size: 60px;
    line-height: 72px;
    text-shadow: 0px 6px 0px #fff;
  }

  main p {
    font-size: 18px;
  }

  .btn {
    padding: 15px 30px;
    font-size: 20px;
  }

  .table-heading {
    font-size: 1.2rem;
  }

  .finance-table th,
  .finance-table td {
    padding: 0.7rem;
    font-size: 0.85rem;
  }

  .table-heading {
    font-size: 28px;
  }

  .howmuchebe-table th,
  .howmuchebe-table td {
    font-size: 14px;
    padding: 10px 12px;
  }
}
